* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  background-image: url("../assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #f8eeff;
  padding: 24px;
  position: relative;
}

/* FAQ Card */
.faq-card {
  background-color: white;
  padding: 24px;
  position: absolute;
  top: 131px;
  left: 0;
  right: 0;
  margin: 0 24px;
  border-radius: 8px;
}

/* FAQ Header Section */
.faq-header {
  display: flex;
  align-items: center;
}

.faq-header-icon {
  width: 24px;
}

.faq-header-text {
  margin-left: 24px;
  font-size: 32px;
  font-weight: bold;
}

/* FAQ List Section */
.faq-list {
}
.faq-list-item {
  padding-top: 24px;
  padding-bottom: 24px;
}
.faq-question-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-question {
  font-size: 16px;
  font-weight: 600;
  color: #301534;
}
.faq-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  cursor: pointer;
}
.faq-answer {
  color: #8b6990;
  line-height: 150%;
  font-size: 14px;
  padding-top: 24px;
}
