* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  background-image: url("../assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f8eeff;
  padding: 24px;
}

.faq-card {
  background-color: white;
  padding: 24px;
}
